:host {
  display: block;
  padding: 1rem;
}
.filter-form-field {
  width: 18rem;
}
.split-view {
  display: grid;
  gap: 2rem;
  grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
}
.user-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.user-card {
  cursor: pointer;
}
