.user-card {
  display: block;
  box-shadow: 2px 2px 0.75rem rgba(0, 0, 0, 0.12);
  padding: 1rem;

  &__content {
    display: flex;
    flex-direction: column;

    &__fullName {
      font-size: 1.125rem;
      font-weight: 700;
    }
    &__username {
      font-size: 1rem;
      font-weight: 400;
    }
  }
}
